{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Home {% endblock title %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Timetable</h1>
<!-- ROW  -->
<div class="row">
    <!-- COL -->
    {% for classroom in classrooms %}
    <div class="col-lg-3 col-md-4 col-sm-1">
        <!-- CARD -->
        <div class="card border-bottom-primary shadow mb-4">
            <div class="card-header py-3">
                <a href="{% url 'classroom:open_classroom' classroom.id %}">
                    <h6 class="m-0 font-weight-bold text-primary">{{ classroom.name }}</h6>
                </a>
            </div>
            
                <div class="card-body">
                    <div class="text-center">
                    </div>
                    <p class="text-secondary">{{ classroom.time_slot }}</p>
                </div>
           
        </div>
        <!-- END CARD -->
    </div>
    <!-- END COL -->
    {% endfor %}
</div>
<!-- END ROW -->


{% endblock content %}